application/.vs/MiniAddinsFacade/v15/.suo
application/.vs/MiniAddinsFacade/v15/Server/sqlite3/db.lock
application/.vs/MiniAddinsFacade/v15/Server/sqlite3/storage.ide
application/.vs/MiniAddinsFacade/v15/Server/sqlite3/storage.ide-shm
application/.vs/MiniAddinsFacade/v15/Server/sqlite3/storage.ide-wal
